*::after,
*::before,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Colors */
  --black: #000b0f;
  --white: #f3fcff;

  /* Typography */
  --ff-sans: 'Inter', sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  font-family: var(--ff-sans);
  color: var(--white);
}

h1,
h2,
h2 {
  font-weight: var(--fw-regular);
  line-height: 1.1;
}

.navigation-panel {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  animation: fade-in 6s;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  background-color: var(--white);
  padding: 2rem 1rem;
  border-radius: 9999px;
}

.navigation__link {
  display: grid;
  place-content: center;
}

.container {
  margin-inline: auto;
  max-width: 1220px;
  display: grid;
  place-content: center;
  height: 100dvh;
}

.banner {
  font-weight: var(--fw-black);
  letter-spacing: 2px;
  font-size: 8rem;
  text-transform: uppercase;
  background-image: url(/banner-img.png);
  background-size: cover;
  background-position: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: slide-in 4s;
  overflow: hidden;
}

.bg--dark {
  background-color: var(--black);
}

.identity {
  display: grid;
  place-content: end;
  place-items: end;
  gap: 0.5rem;
  animation: slide-down 2s;
  overflow: hidden;
  margin-top: 0.5rem;
}

.identity__name {
  font-weight: var(--fw-semibold);
  font-size: 2rem;
}

.identity__role {
  font-weight: var(--fw-medium);
  font-size: 1.1rem;
  font-style: italic;
}

.next-action {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  color: var(--white);
  text-decoration: none;
  font-weight: var(--fw-light);
  transition: font-weight 50ms ease-in-out;
  animation: fade-in 6s;
}

.next-action:hover {
  font-weight: var(--fw-regular);
}

@keyframes slide-in {
  from {
    margin-left: 200%;
  }
  40% {
    margin-left: 120%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slide-down {
  from {
    margin-bottom: 300%;
  }
  30% {
    margin-bottom: 300%;
  }
  to {
    margin-bottom: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1280px) {
  .banner {
    font-size: 7rem;
  }
}

@media screen and (max-width: 1120px) {
  .banner {
    font-size: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .banner {
    font-size: 4.5rem;
  }
  .identity__name {
    font-size: 1.7rem;
  }
  .identity__role {
    font-size: 1.1rem;
  }
  .navigation-list {
    padding: 1.5rem 0.5rem;
  }
  .navigation__svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 430px) {
  .banner {
    font-size: 2.175rem;
  }
  .identity {
    gap: 0.25rem;
  }
  .identity__name {
    font-size: 1.135rem;
  }
  .identity__role {
    font-size: 0.875rem;
  }
  .navigation-list {
    padding: 1.315rem 0.375rem;
  }
  .navigation__svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 390px) {
  .banner {
    font-size: 2rem;
  }
  .identity__name {
    font-size: 1rem;
  }
  .identity__role {
    font-size: 0.8rem;
  }
  .navigation-list {
    padding: 1.2rem 0.3rem;
  }
  .navigation__svg {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 360px) {
  .banner {
    font-size: 1.75rem;
  }
  .identity__name {
    font-size: 0.875rem;
  }
  .identity__role {
    font-size: 0.75rem;
  }
  .navigation-list {
    padding: 1.1rem 0.3rem;
  }
}