*::after,
*::before,
* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Typography */
  --ff-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  font-family: var(--ff-sans);
  background: linear-gradient(to bottom, #4caac1, #081c8d) no-repeat;
  min-height: 100dvh;
}

.container {
  max-width: 320px;
  margin-inline: auto;
}

.profile {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  color: #f7f7f7;
}

.profile img {
  border-radius: 9999px;
}

.profile h1 {
  margin-top: 0.75rem;
  font-size: 1.7rem;
}

.profile p {
  margin-top: 0.25rem;
  font-weight: 500;
}

.link-list {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 0.875rem;
  list-style-type: none;
  margin-top: 0.75rem;
}

.list-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border: solid 2px #f7f7f7;
  border-radius: 9999px;
  width: calc(320px - 50px);
  text-decoration: none;
  color: #f7f7f7;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
  background-size: cover;
}

.instagram-icon {
  background-image: url(/assets/instagram.svg);
}

.github-icon {
  background-image: url(/assets/github.svg);
}

.facebook-icon {
  background-image: url(/assets/facebook.svg);
}

.linkedin-icon {
  background-image: url(/assets/linkedin.svg);
}

.discord-icon {
  background-image: url(/assets/discord.svg);
}

.hevy-icon {
  background-image: url(/assets/hevy.svg);
}

.smule-icon {
  background-image: url(/assets/smule.svg);
}

.tiktok-icon {
  background-image: url(/assets/tiktok.svg);
}

.filler__hidden {
  color: transparent;
}

.list-item a:hover {
  background-color: #f7f7f7;
}

.list-item a:hover span {
  color: #081c8d;
  font-weight: 500;
}

.list-item a:hover .instagram-icon,
.list-item a:hover .github-icon,
.list-item a:hover .facebook-icon,
.list-item a:hover .linkedin-icon,
.list-item a:hover .discord-icon,
.list-item a:hover .hevy-icon,
.list-item a:hover .smule-icon,
.list-item a:hover .tiktok-icon {
  filter: brightness(0) saturate(100%) invert(13%) sepia(50%) saturate(5242%)
    hue-rotate(231deg) brightness(85%) contrast(114%);
}

footer {
  text-align: center;
  margin-top: 1.25rem;
  padding: 1rem;
}

footer p {
  color: #f7f7f7;
  font-size: 0.875rem;
}

@media screen and (min-width: 360px) {
  .list-item a {
    width: calc(360px - 50px);
  }
}

@media screen and (min-width: 410px) {
  .list-item a {
    width: calc(410px - 50px);
  }
}

@media screen and (min-width: 520px) {
  .list-item a {
    width: calc(520px - 50px);
  }
  .profile h1 {
    margin-top: 1.25rem;
  }
  .link-list {
    margin-top: 1.25rem;
  }
}

@media screen and (min-width: 672px) {
  .list-item a {
    width: calc(672px - 50px);
  }
}

@media screen and (min-width: 768px) {
  .list-item a {
    width: calc(768px - 70px);
  }
}

@media screen and (min-height: 932px) {
  footer {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
